<div class="container my-5">
  <div class="row no-gutters">
      <div class="col-lg-12">
        <h3><strong>会員情報編集</strong></h3>
      <%= render 'layouts/errors', obj: @customer %>
      <%= form_with model: @customer, url: customers_information_path, method: :patch, local: true do |f| %>
        <div>
          <div class="col-xs-12">
            <%= f.label "氏名", class: "col-sm-3", style: "margin: 10px;" %>
            <%= f.text_field :last_name, class: "col-sm-3", style: "margin: 10px;", placeholder: "令和" %>
            <%= f.text_field :first_name, class: "col-sm-3", style: "margin: 10px;", placeholder: "道子" %>
          </div>
          <div class="col-xs-12">
            <%= f.label "フリガナ", class: "col-sm-3", style: "margin: 10px;" %>
            <%= f.text_field :last_name_kana, class: "col-sm-3", style: "margin: 10px;", placeholder: "レイワ" %>
            <%= f.text_field :first_name_kana, class: "col-sm-3", style: "margin: 10px;", placeholder: "ミチコ" %>
          </div>
          <div class="col-xs-12">
            <%= f.label "メールアドレス", class: "col-sm-3", style: "margin: 10px;" %>
            <%= f.email_field :email, autocomplete: "email", class: "col-sm-6", style: "margin: 10px;", placeholder: "example@example.com" %>
          </div>
          <div class="col-xs-12">
            <%= f.label "郵便番号", class: "col-sm-3", style: "margin: 10px;" %>
            <%= f.text_field :post_code, class: "col-sm-2", style: "margin: 10px;", placeholder: "0000000" %>
          </div>
          <div class="col-xs-12">
            <%= f.label "住所", class: "col-sm-3", style: "margin: 10px;" %>
            <%= f.text_field :address, class: "col-sm-8", style: "margin: 10px;", placeholder: "東京都渋谷区代々木神園町0-0" %>
          </div>
          <div class="col-xs-12">
            <%= f.label "電話番号(ハイフンなし)", class: "col-sm-3", style: "margin: 10px;" %>
            <%= f.text_field :phone_number, class: "col-sm-3", style: "margin: 10px;", placeholder: "00000000000" %>
          </div>
        </div>
  
        <div>
        <p>
          <%= f.submit "編集内容を保存", class: "btn btn-success col-sm-3", style: "margin: 10px;" %>
          <%= link_to " 退会する", customers_unsubscribe_path, class: "glyphicon glyphicon-tint btn btn-danger col-sm-3", style: "margin: 10px;" %>
        </p>
        </div>
      <% end %>
    </div>
  </div>
</div>


