<div class="container mt-5">
<h1>商品詳細</h1>

  <div class="row">
    <div class="col-5 mt-3">
      <%= image_tag @item.get_image %>
    </div>

    <div class="col-7 mt-3">
      <div style="pb-5">
        <p>商 品 名 <span class="ml-5"><%= @item.name%></span></p>
      </div>

      <div style="pb-5">
        <p>商品説明<span class="ml-5"><%= @item.introduction %></span></p>
      </div>

      <div style="pb-5">
        <p>ジャンル<span class="ml-5"><%= @item.genre.name %></span></p>
      </div>

      <div style="pb-5">
        <p>税込価格<br>(税抜価格)<span class="ml-5"><%= (@item.price*1.1).floor.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</span></p>
      </div>

      <div style="pb-5">
        <p>販売ステータス
          <span class="ml-2"><% if @item.is_active == true %>
              販売中
            <% else %>
              販売停止中
          <% end %>
          </span>
        </p>
      </div>

      <div class="ml-5 mt-4">
      <%= link_to "編集する", edit_admin_item_path(@item),class:"btn btn-success mx-auto" %>
      </div>

    </div>
  </div>
</div>