<h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>
<%= render 'layouts/errors', obj: @customer %>
<%= form_with model: @customer, url: admin_customer_path, method: :patch, local: true do |f| %>

  <div class="field">
    名前
    <%= f.label "(姓)" %>
    <%= f.text_field :last_name, placeholder: "令和" %>
    <%= f.label "(名)" %>
    <%= f.text_field :first_name, placeholder: "道子" %>
  </div>

   <div class="field">
     フリガナ
    <%= f.label "(セイ)" %>
    <%= f.text_field :last_name_kana, placeholder: "レイワ" %>
    <%= f.label "(メイ)" %>
    <%= f.text_field :first_name_kana, placeholder: "ミチコ" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "example@example.com" %>
  </div>

   <div class="field">
    <%= f.label "郵便番号(ハイフンなし)" %>
    <%= f.text_field :post_code, placeholder: "0000000", maxlength: 7 %>
  </div>

   <div class="field">
    <%= f.label "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "60" %>
  </div>

   <div class="field">
    <%= f.label "電話番号(ハイフンなし)" %>
    <%= f.text_field :phone_number, placeholder: "00000000000", maxlength: 11 %>
  </div>

  <div class="status">
    会員ステータス
      <%= f.radio_button :is_deleted, :false %>
      <%= f.label :is_deleted, "有効" %>
      <%= f.radio_button :is_deleted, :true %>
      <%= f.label :is_deleted, "退会" %><br />
  </div>

  <div class="actions">
    <%= f.submit "変更内容を保存" %>
  </div>
<% end %>
