<div class="container">
  <div class="row">
    <div class="col-lg-12 md-5 offset-md-1">
      <%= flash[:notice] %>
      <h3 style="margin-top: 50px;"><strong>会員詳細</strong></h3>
      <table class="table table-bordered">
        <div class="col" style="margin-top: 50px;">
          <p>
            <strong class="h4"><%= @customer.full_name %>さんの会員情報詳細</strong>
            <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success", style: "margin-left: 635px;" %>
          </p>
          <div class='col-md-10'>
            <thead>
              <tr class="table">
                  <th style="background-color:#f0f8ff;">会員ID</th>
                <td><%= @customer.id %></td>
              </tr>

              <tr class="table">
                <th style="background-color:#f0f8ff;">氏名</th>
                <td><%= @customer.full_name %></td>
              </tr>

              <tr class="table">
                <th style="background-color:#f0f8ff;">カナ</th>
                <td><%= @customer.full_name_kana %></td>
              </tr>

              <tr class="table">
                <th style="background-color:#f0f8ff;">郵便番号</th>
                <td><%= @customer.post_code %></td>
              </tr>

              <tr class="table">
                <th style="background-color:#f0f8ff;">住所</th>
                <td><%= @customer.address %></td>
              </tr>

              <tr class="table">
                <th style="background-color:#f0f8ff;">電話番号</th>
                <td><%= @customer.phone_number %></td>
              </tr>

              <tr class="table">
                <th style="background-color:#f0f8ff;">メールアドレス</th>
                <td><%= @customer.email%></td>
              </tr>

              <tr class="table">
                <th style="background-color:#f0f8ff;">会員ステータス</th>
                <td><%= @customer.is_deleted ? '退会' : '有効' %></td>
              </tr>
            <thead>
          </div>
        </div>
      </table>
      <p>
      <div class="row no-gutters">
        <%#= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
        <%= link_to "注文履歴一覧を見る(仮)", admin_orders_path, class: "btn btn-primary" %>
      </div>
      </p>
    </div>
  </div>
</div>