<div class="container">
	<div class="row">
 <h5 class=" col-sm-2 col-lg-2.5 m-5 text-center", style="background-color:#e0e0e0">
  注文履歴詳細
  </h5>

<div class="container-fluid">
 <table>
  <%= @orders.each do |order| %>
  <tr>
    <th>購入者</th>
    <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
  </tr>
  
  <tr>
   <th>注文日</th>
   <td><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
  </tr>
  
  <tr>
   <th>配送先</th>
   <td><%= order.post_code %></td>
  </tr>
  
  <tr>
    <th>支払方法</th>
    <td><%= order.pay_type %></td>
  </tr>
  
  <tr>
   <th>注文ステータス</th>
   <td>
     <% if @order.order_status == 1 %>
          <%#= form.select :production_status == 1, class: "production_status-select" %>
        <%# else %>
          <%#= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
            <%#= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
            <%#= f.submit "更新" , class: "btn btn-outline-success" %>
          <%# end %>
        <%# end %>
   </td>
   </tr>
  </table>
 </div>

<div class="col-md-8 offset-md-0">
<table class='table table-hover table-inverse'>
  <% @ordered_items.each do |ordered_item| %>
    <thead style="background-color:#C9C9C9">
      <tr> 
      <th>商品名</th>
      <th>単価</th>
      <th>注文個数</th>
      <th>製作ステータス</th>
      </tr>
   　</thead>
    <tbody>
       <tr>
     　 <td><%= order_item.name %></td>
       <td><%= ordered_item.item.add_tax_price %></td>
       <td><%= ordered_item.item.add_tax_price * ordered_item.quantity %></td>
       <%#= form_with model: ordered_item, url: admin_order_detail_path, method: :patch, local: true do |f| %>
              <td>ステータス<%#= f.select :production_status, Ordereditem.production_statuses.keys, class: "production_status-select" %></td>
              <td><%#= f.submit "更新", class: "btn btn-outline-success" %></td>
      </tr>
    </tbody>
</table>
</div>

<table>
  <tr><td><b>商品合計</b></td><td>何円<%#= order_item.name %></td></tr>
  <tr><td><b>注文日</b></td><td>yyyymmdd</td></tr>
</table>

</div>
</div>