<p>注文履歴詳細</p>

<table>
  <%= @orders.each do |order| %>
  <tr><td>購入者</td><td><%= customer.name %></td></tr>
  <tr><td>注文日</td><td></td></tr>
  <tr><td>配送先</td><td><%= customer.adress %></td></tr>
  <tr><td>支払方法</td><td></td></tr>
  <tr><td>注文ステータス</td>
  <td><%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
            <%= f.select :order_status, Order.order_statuses.keys, class: "order_status" %>
            <%= f.submit "更新" , class: "btn btn-outline-success" %>
          <% end %></td></tr>
</table>
<%end%>

<table class='table table-hover table-inverse'>
    <thead>
      <tr> <th>
      <td>購入日時</td>
      <td>購入者</td>
      <td>注文個数</td>
      <td>注文ステータス</td>
      </th></tr>
   </thead>
    <tbody>
       <tr>
         <td></td>
       <td> 1/1</td>
       <td> 田中太郎</td>
       <td> 1</td>
       <td> 1</td>
       </tr>
    </tbody>
</table>