<p>ジャンル一覧・追加</p>
<div>ジャンル名 <%= form_with model: @genre , url: '/admin/genres', method: :post do |f| %>
<%= f.text_field :name %>
<%= f.submit '新規登録' %>
<% end %></div>


<table>
  <tr><th>ジャンル</th></tr>
  <% @genres.each do |genre| %>
  <tr><td><%= genre.name %></td>
   <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
  </tr>
</table>
<% end %>