<div class="container pt-5">
  <div class="row">
    <div class="col-4">
    </div>

    <div class="col-8">
      <h2>商品一覧<span class="ml-3">全<%= @items.count %>件</span></h2>
      <table>

          <% @items.each do |item| %>
          <tr>
          <td>
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, size: "250x200" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= item.name %>
          </td>
        </tr>
        <tr>
          <td>
            ￥<%= (item.price*1.1).floor.to_s(:delimited) %>
          </td>
          </tr>
          <% end %>

    </table>




    </div>
  </div>
</div>